.kaleflower-accordion {
	&__header {
		padding: 0;
	}
	&__content {
		padding: 0 0 10px 0;
	}
	&__toggle-button {
		cursor: pointer;
		padding: 8px 8px 8px 8px;
		background-color: #f5f5f5;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
		margin-bottom: 5px;
		border: none;
		border-radius: 3px;
		outline: none;
		width: 100%;
		text-align: left;

		&::after {
			content: '▼';
			display: inline-block;
			transition: transform 0.18s ease-in-out;
			transform: rotate(-90deg);
		}

		&--is-opened::after {
			transform: rotate(0deg);
		}
	}
}
