<div class="kaleflower-setting-modal__color-palettes-editor__item" data-index="{{ index|e("html_attr") }}">
    <div class="kaleflower-setting-modal__color-palettes-editor__item-row">
        <div class="kaleflower-setting-modal__color-palettes-editor__item-field kaleflower-setting-modal__color-palettes-editor__item-field--id">
            <label class="kaleflower-setting-modal__color-palettes-editor__item-label">Color ID</label>
            <input type="text" class="px2-input" data-field="id" value="{{ id|e("html_attr") }}" placeholder="e.g. key" />
        </div>
        <div class="kaleflower-setting-modal__color-palettes-editor__item-field kaleflower-setting-modal__color-palettes-editor__item-field--name">
            <label class="kaleflower-setting-modal__color-palettes-editor__item-label">Color Name</label>
            <input type="text" class="px2-input" data-field="name" value="{{ data.name|e("html_attr") }}" placeholder="e.g. Key color" />
        </div>
        <div class="kaleflower-setting-modal__color-palettes-editor__item-field kaleflower-setting-modal__color-palettes-editor__item-field--color">
            <label class="kaleflower-setting-modal__color-palettes-editor__item-label">Color Code</label>
            <input type="text" class="px2-input" data-field="color" value="{{ data.color|e("html_attr") }}" placeholder="e.g. #ffffff" />
        </div>
        <div class="kaleflower-setting-modal__color-palettes-editor__item-actions">
            <button type="button" class="px2-btn px2-btn--danger px2-btn--sm" data-action="remove">Remove</button>
        </div>
    </div>
</div>
