<div class="px2-form-input-list">
	<ul class="px2-form-input-list__ul">
        <li class="px2-form-input-list__li" data-name="module-name">
            <div class="px2-form-input-list__label"><label for="form-element--module-name">module name</label></div>
            <div class="px2-form-input-list__input">
                <input type="text" id="form-element--module-name" name="module-name" value="{{ moduleName|e("html_attr") }}" class="px2-input px2-input--block" />
            </div>
        </li>
        <li class="px2-form-input-list__li" data-name="module-name-prefix">
            <div class="px2-form-input-list__label"><label for="form-element--module-name-prefix">module name prefix</label></div>
            <div class="px2-form-input-list__input">
                <input type="text" id="form-element--module-name-prefix" name="module-name-prefix" value="{{ moduleNamePrefix|e("html_attr") }}" class="px2-input px2-input--block" />
            </div>
        </li>
	</ul>
</div>
