.kaleflower-setting-modal__color-palettes-editor {
	container-type: inline-size;
	
	&__items {
		margin-bottom: 10px;
	}

	&__item {
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 10px;
		margin-bottom: 10px;
		background-color: #f9f9f9;
	}

	&__item-row {
		display: flex;
		align-items: center;
		gap: 10px;
		width: 100%;
		@container (max-width: 510px) {
			flex-direction: column;
		}
	}

	&__item-field {
		flex-grow: 1;
		min-width: 0;

		&--id {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 120px;
		}

		&--name {
			flex-grow: 1;
		}

		&--color {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100px;
		}

		@container (max-width: 510px) {
			flex-direction: column;
			width: 100%;
			flex-basis: auto;
			input.px2-input {
				width: 100%;
			}
		}
	}

	&__item-label {
		display: block;
		font-size: 12px;
		color: #333;
		margin-bottom: 2px;
	}

	&__item-actions {
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		align-items: center;

		@container (max-width: 510px) {
			width: 100%;
			justify-content: right;
		}
	}

	&__error {
		color: #dc3545;
		font-size: 12px;
		margin-top: 2px;
	}
}
