// ライトテーマ用のスタイル
.kaleflower-setting-modal__color-palettes-editor {
    
    &__item {
        border-color: #ddd;
        background-color: #f9f9f9;
    }

    &__item-label {
        color: #333;
    }

    &__error {
        color: #dc3545;
    }
}
