# 開発規則

## システムの概要

- このシステムは、 ブラウザ上で、ドラッグアンドドロップの直感的な操作でウェブページのコンテンツを編集できるブロックエディタライブラリです。

## フロントエンドのビルド

次のコマンドでビルドします。

```bash
npm run prod
```

## スタイルシートのコーディング規則

- BEM (Block Element Modifier) の命名規則に従って命名します。

## テスト用サーバー

ローカルの開発用サーバーは、次のコマンドで起動します。

```bash
composer start
```

サーバーの起動に成功すると、 `http://127.0.0.1:8088/tests/testdata/htdocs/index.php` でアクセスできます。
