.kaleflower-setting-modal {
	display: flex;

	&__tools-label {
		margin-right: 5px;
		font-weight: bold;
	}
}

@import "./SettingModal_files/BreakPointsEditor.scss";
@import "./SettingModal_files/ColorPalettesEditor.scss";
