.kaleflower-viewport-switch {
	display: flex;

	&__tools-label {
		margin-right: 5px;
		font-weight: bold;
		display: flex;
		align-items: center;
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		gap: 5px;
		padding: 0;
		margin: 0;
		> li {
			list-style: none;
			margin: 0;
			padding: 0;
			white-space: nowrap;
		}
	}
}