// px2style
@import '../../../../vendor/pickles2/px2style/dist/px2style';

.kaleflower {
	flex-grow: 100;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	color: #333;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-align: left;
	container-type: inline-size;

	[draggable=true]{
		cursor: grab;
	}
	[draggable=true]:active{
		cursor: grabbing;
	}
	[draggable=false]{
		cursor: auto;
	}
	a[draggable=false]{
		cursor: pointer;
	}
	[tabindex]{
		outline: none;
	}

	&__frame {
		flex-grow: 100;
		display: flex;
		flex-direction: column;
	}
	&__header {
		padding: 10px;
		background-color: #e0e0e0;
		border-bottom: 1px solid #ccc;
	}
	&__body {
		flex-grow: 100;
		display: flex;
		flex-direction: row;
		height: 1px;

		&-left {
			flex-grow: 0;
			flex-shrink: 0;
			width: 200px;
			overflow: auto;

			@container (max-width: 680px) {
				display: none;
			}
		}
		&-center {
			flex-grow: 1;
			width: auto;
			overflow: auto;
		}
		&-right {
			flex-grow: 0;
			flex-shrink: 0;
			width: 200px;
			overflow: auto;
			background-color: #eee;

			@container (max-width: 680px) {
				display: none;
			}
		}
	}
	&__footer {
	}
	&__edit-window {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1500;
		height: 100%;
		width: 100%;

		@container (max-width: 680px) {
			display: block;
		}

		&__inner {
			overflow: auto;
			position: absolute;
			bottom: 0;
			left: 0;
			max-height: 90%;
			width: 100%;
			background-color: #eee;
		}
	}
}

@import "../components/common/Accordion/Accordion.scss";
@import "../components/InstanceTreeView/InstanceTreeView.scss";
@import "../components/ElementEditor/ElementEditor.scss";
@import "../components/ElementEditor/StylingFields.scss";
@import "../components/LayoutView/LayoutView.scss";
@import "../components/ToolBar/ToolBar.scss";
