.kaleflower {
	background-color: #333;
	color: #ddd;

	&__header {
        background-color: #333;
		border-bottom: 1px solid #444;
	}
	&__body {
		&-right {
			background-color: #222;
		}
	}
	&__edit-window {
		&__inner {
			background-color: #222;
		}
		&__close {
			button {
				color: #ddd;
				&:hover {
					color: #fff;
					background-color: #555;
				}
			}
		}
	}
}

@import './../components/ToolBar/ToolBar--dark.scss';
@import './../components/InstanceTreeView/InstanceTreeView--dark.scss';
@import './../components/LayoutView/LayoutView--dark.scss';
