// px2style
@import '../../../../vendor/pickles2/px2style/dist/px2style';

.kaleflower {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;

    &__frame {
        flex-grow: 100;
        display: flex;
        flex-direction: column;
    }
    &__header {
    }
    &__body {
        flex-grow: 100;
        display: flex;
        flex-direction: row;
        height: 1px;

        &-left {
            flex-grow: 0;
            width: 200px;
            overflow: auto;
        }
        &-center {
            flex-grow: 1;
            width: auto;
        }
        &-right {
            flex-grow: 0;
            width: 200px;
            overflow: auto;
        }
    }
    &__footer {
    }
}

@import "../components/InstanceTreeView/InstanceTreeView.scss";
@import "../components/ElementEditor/ElementEditor.scss";
@import "../components/LayoutView/LayoutView.scss";
