.kaleflower-layout-view-panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: auto;
	box-sizing: border-box;
	z-index: 1010;

	&--hovered,
	&:hover {
		border: 4px solid #5198c5;
		box-sizing: border-box;
		border-radius: 4px;
		z-index: 1010;
	}

	&--selected {
		border: 4px solid #2d6226;
		box-sizing: border-box;
		border-radius: 4px;
		z-index: 1010;
	}

	&--hovered + &--selected,
	&:hover + &--selected {
		z-index: 1009;
	}

	// Vertical
	&--drag-entered-before {
		background: linear-gradient(rgba(56, 113, 224, 0.2), rgba(56, 113, 224, 0.0)) !important;
		>.kaleflower-layout-view-panel__drop-to-insert-here {
			top: -8px; bottom: auto;
		}
	}

	&--drag-entered-after {
		background: linear-gradient(rgba(56, 113, 224, 0.0), rgba(56, 113, 224, 0.2)) !important;
		>.kaleflower-layout-view-panel__drop-to-insert-here {
			top: auto; bottom: -8px;
		}
	}

	&--drag-entered-append {
		background: linear-gradient(rgba(56, 113, 224, 0.0), rgba(56, 113, 224, 0.2), rgba(56, 113, 224, 0.0)) !important;
		>.kaleflower-layout-view-panel__drop-to-insert-here {
			display: none;
		}
	}

	&__create-new-element-before,
	&__create-new-element-after {
		display: none;
		font-size: 8px;
		position: absolute;
		left: calc(50% - 16px);
		button {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			color: rgb(41, 128, 41);
			border: 1px solid rgb(41, 128, 41);
			border-radius: 50%;
			padding: 0;
			margin: 0;
			background-color: #fff;
			display: flex;
			width: 32px;
			height: 32px;
			box-sizing: border-box;
			cursor: pointer;

			&:hover {
				color: rgb(87, 186, 87);
				border-color: rgb(87, 186, 87);
			}
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&__create-new-element-before {
		top: -19px;
	}
	&__create-new-element-after {
		bottom: -21px;
	}
	&:hover &__create-new-element-before,
	&:hover &__create-new-element-after {
		display: block;
	}

	&__drop-to-insert-here {
		display: block;
		border: none;
		background-color: #f93;
		position: absolute;
		left: 5%; top: -8px;
		width: 90%;
		margin: 0 auto;
		height: 1px;
		z-index: 100000000;
		animation: kaleflower-layout-view-panel__drop-to-insert-here 0.5s infinite;
		pointer-events: none;
		@keyframes kaleflower-layout-view-panel__drop-to-insert-here {
			0%{
				opacity: 1;
			}
			50%{
				opacity: 0.6;
			}
		}

		&:before,
		&:after {
			content: "";
			width: 0;
			height: 0;
			display: inline-block;
			border-width: 7px 0 7px 13px;
			border-style: solid;
			border-color: #f93;
			border-top-color: transparent;
			border-bottom-color: transparent;
			position: absolute;
			left: -5%; top: -7px;
		}
		&:after {
			border-left-width: 0;
			border-right-width: 13px;
			right: -5%;
			left: auto;
		}
	}

	// Horizontal
	&.kaleflower-layout-view-panel--horizontal.kaleflower-layout-view-panel--drag-entered-before {
		background: linear-gradient(90deg, rgba(56, 113, 224, 0.2), rgba(56, 113, 224, 0.0)) !important;
		>.kaleflower-layout-view-panel__drop-to-insert-here {
			top: 5%; bottom: auto;
			left: -8px; right: auto;
		}
	}

	&.kaleflower-layout-view-panel--horizontal.kaleflower-layout-view-panel--drag-entered-after {
		background: linear-gradient(90deg, rgba(56, 113, 224, 0.0), rgba(56, 113, 224, 0.2)) !important;
		>.kaleflower-layout-view-panel__drop-to-insert-here {
			top: 5%; bottom: auto;
			left: auto; right: -8px;
		}
	}

	&.kaleflower-layout-view-panel--horizontal.kaleflower-layout-view-panel--drag-entered-append {
		background: linear-gradient(90deg, rgba(56, 113, 224, 0.0), rgba(56, 113, 224, 0.2), rgba(56, 113, 224, 0.0)) !important;
		>.kaleflower-layout-view-panel__drop-to-insert-here {
			display: none;
		}
	}

	&--horizontal &__create-new-element-before,
	&--horizontal &__create-new-element-after {
		display: none;
		left: auto;
		top: calc(50% - 16px);
	}
	&--horizontal &__create-new-element-before {
		left: -19px;
	}
	&--horizontal &__create-new-element-after {
		bottom: auto;
		right: -21px;
	}

	&--horizontal &__drop-to-insert-here {
		top: 5%; left: -8px;
		height: 90%;
		margin: auto 0;
		width: 1px;

		&:before,
		&:after {
			content: "";
			width: 0;
			height: 0;
			display: inline-block;
			border-width: 13px 7px 0 7px;
			border-style: solid;
			border-color: #f93;
			border-left-color: transparent;
			border-right-color: transparent;
			position: absolute;
			top: -5%; left:-7px;
		}
		&:after {
			border-top-width: 0;
			border-bottom-width: 13px;
			bottom: -5%;
			top: auto;
		}
	}

	// Resize handles
	&__handle-resize-width-left,
	&__handle-resize-width-right,
	&__handle-resize-height-top,
	&__handle-resize-height-bottom {
		display: none;
		position: absolute;
		z-index: 1020;
		button {
			position: absolute;
			padding: 0;
			margin: 0;
			border: 0 none;
			outline: none;
			background: transparent;
			width: 100%;
			height: 100%;
		}
	}
	&:hover &__handle-resize-width-left,
	&:hover &__handle-resize-width-right,
	&:hover &__handle-resize-height-top,
	&:hover &__handle-resize-height-bottom {
		display: block;
	}
	&__handle-resize-width-left {
		left: 0;
		top: 0;
		width: 5px;
		height: 100%;
		button {
			cursor: col-resize;
		}
	}
	&__handle-resize-width-right {
		right: 0;
		top: 0;
		width: 5px;
		height: 100%;
		button {
			cursor: col-resize;
		}
	}
	&__handle-resize-height-top {
		left: 0;
		top: 0;
		width: 100%;
		height: 5px;
		button {
			cursor: row-resize;
		}
	}
	&__handle-resize-height-bottom {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 5px;
		button {
			cursor: row-resize;
		}
	}
}
