.kaleflower-layout-view__panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: auto;
	box-sizing: border-box;

	&--hovered,
	&:hover {
		border: 4px solid #5198c5;
		box-sizing: border-box;
		border-radius: 4px;
	}

	&--selected {
		border: 4px solid #2d6226;
		box-sizing: border-box;
		border-radius: 4px;
	}

	&--drag-entered-u {
		background: linear-gradient(rgba(56, 113, 224, 0.2), rgba(56, 113, 224, 0.0)) !important;
		&[data-broccoli-sub-mod-name] {
			background: linear-gradient(rgba(24, 154, 163, 0.2), rgba(24, 154, 163, 0.0)) !important;
		}
		>.kaleflower-layout-view__panel__drop-to-insert-here {
			top: -8px; bottom: auto;
		}
	}

	&--drag-entered-d {
		background: linear-gradient(rgba(56, 113, 224, 0.0), rgba(56, 113, 224, 0.2)) !important;
		&[data-broccoli-sub-mod-name] {
			background: linear-gradient(rgba(24, 154, 163, 0.0), rgba(24, 154, 163, 0.2)) !important;
		}
		>.kaleflower-layout-view__panel__drop-to-insert-here {
			top: auto; bottom:-8px;
		}
	}
	&__create-new-element-before,
	&__create-new-element-after {
		display: none;
		font-size: 8px;
		position: absolute;
		left: calc(50%);
	}
	&__create-new-element-before {
		top: -8px;
	}
	&__create-new-element-after {
		bottom: -8px;
	}
	&:hover &__create-new-element-before,
	&:hover &__create-new-element-after {
		display: block;
	}
}

.kaleflower-layout-view__panel__drop-to-insert-here {
	display: block;
	border: none;
	background-color: #f93;
	position: absolute;
	left:5%; top:-8px;
	width:90%;
	margin:0 auto;
	height:1px;
	z-index: 100000000;
	animation: kaleflower-layout-view__panel__drop-to-insert-here 0.5s infinite;
	@keyframes kaleflower-layout-view__panel__drop-to-insert-here {
		0%{
			opacity: 1;
		}
		50%{
			opacity: 0.6;
		}
	}

	&:before,
	&:after {
		content: "";
		width: 0;
		height: 0;
		display: inline-block;
		border-width: 7px 0 7px 13px;
		border-style: solid;
		border-color: #f93;
		border-top-color: transparent;
		border-bottom-color: transparent;
		position: absolute;
		left: -5%; top:-7px;
	}
	&:after {
		border-left-width: 0;
		border-right-width: 13px;
		right: -5%;
		left: auto;
	}
}
