.kaleflower-insance-tree-view {
	background-color: #eee;
	color: #333;

	&__node {
		border: 1px solid #999;
		background-color: #fff;
		&--hovered,
		&:hover {
			background-color: #eee;
		}
		&--selected {
			background-color: #ddd;
			&:hover {
				background-color: #bbb;
			}
		}
	}
	&__node:has(&__node:hover) {
		background-color: #fff;
	}

	&__node-name {
		color: #333;
	}
}
